@charset "UTF-8";
.mainbox{
  display: table;
  width: 100%;
}

.mainbox:last-child{
  margin-top: 50px;
}

.colorbox{
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.red{
  width: 300px;
  background-color: #ff7b7b;
}

.blue{
  background-color: #7b86ff;
}

.yellow{
  width: 300px;
  background-color: #fff27b;
}

.green{
  background-color: #7bff91;
}

.pink{
  width: 400px;
  background-color: #ff7be2;
}

.orange{
  width: 400px;
  background-color: #ffc67d;
}

.lightblue{
  background-color: #7bf2ff;
}
